body {
    font-family: Roboto, sans-serif;
    margin: 0;
}

.header {
    background-color: #1f2937;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 150px;
}

#header-logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 700;
}

#header-links {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 20px;
}

.small-text {
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
}

.hero {
    color: white;
    background-color: #1f2937;
    padding: 100px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.hero-left {
    align-self: center;
}

#hero-title {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 800;
    margin-bottom: 8px;
}

#hero-text {
    margin-bottom: 16px;
}

#hero-img {
    width: 500px;
}

button {
    background-color: #3882f6;
    color: white;
    padding: 8px 32px;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 500;
}

button:hover {
    cursor: pointer;
}

.info {
    padding: 48px 0 100px 0;
    text-align: center;
}

#info-header {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    margin-bottom: 48px;
}

#gallery {
    display: flex;
    justify-content: center;
    gap: 64px;
}

.example {
    width: 180px;
}

.example img {
    width: 180px;
    border: 4px solid #3882f6;
    border-radius: 16px;
    margin-bottom: 8px;
}

.caption {
    font-size: 18px;
    color: #4B5564;
}